.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.shop-container {
  display: flex;
  justify-content: space-around;
}
.products-container {
  flex: 3;
}
.cart-container {
  flex: 1;
  background-color: rgb(175, 162, 130);
  border-radius: 10px;
}

.selected-img-container {
  padding: 10px;
  border: 3px solid gold;
  width: 80%;
  display: flex;
  margin: 10px;
  border-radius: 50px;
}
.selected-img-container span {
  margin-left: 20px;
}
.selected-img-container img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
