.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.store-name {
  color: goldenrod;
}
.shop-container {
  display: flex;
  justify-content: space-around;
}
.products-container {
  flex: 3;
}
.cart-container {
  flex: 1;
  background-color: rgb(175, 162, 130);
  border-radius: 10px;
}
.first-btn {
  background-color: goldenrod;
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  border: none;
}
.second-btn {
  background-color: darkred;
  color: white;
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  border: none;
}

.random-item-container {
  padding: 20px;
  background-color: gold;
  margin: 10px;
  border-radius: 20px;
}
.random-item-container span {
  margin-top: 10px;
  font-weight: bold;
}
.random-item-img-container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.random-item-img-container {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .shop-container {
    flex-direction: column;
  }
}
